# API key in production mode (used with cargo run --release)
CLOUDPRINTER_API_KEY_LIVE=0123456789abcdef0123456789abcdef
# API key in sandbox mode (used with cargo run)
CLOUDPRINTER_API_KEY_SANDBOX=0123456789abcdef0123456789abcdef
